<ul class="button-group content-nav">
  <li><%= link_to "Home", root_path, :class => 'button' %> </li>
  <li><%= link_to "Timeline", timeline_path, :class => 'button' %> </li>
  <li><%= link_to "Meet the Team", meet_path, :class => 'button' %> </li>
  <li><%= link_to "About Breakwater", about_path, :class => 'button' %> </li>
  <li><%= link_to "News & Events", news_path, :class => 'button' %> </li>
</ul>

